# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.pkl
*.db

# Virtual Environment
env/
venv/
.venv/

# IDE / Editor files
.vscode/
.idea/
*.swp

# OS Generated
.DS_Store
Thumbs.db

# Jupyter & Logs
.ipynb_checkpoints/
*.log

# Build / packaging
build/
dist/
*.egg-info/

# Local configs
*.env
*.ini
*.cfg
.env.local
